/* reset the CSS here */

* {
  margin: 0;
  /*outline: 1pt solid pink;*/
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Tinos');

/*font-family: 'Tinos', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

/*fade in and fade out effect */

body { display: none; }

/* navigation logo*/

#wrapper {
  background-color: white;
}
.logo {
  height: 20%;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.hero {
  background-color: skyblue;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
  z-index: 1;
}

.heroimg {
  height: 400px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

h1 {
  font-family: 'Tinos', 'Times New Roman', serif;
  font-size: 2.5em;
  /*line-height: 3em;*/
  letter-spacing: 0.1em;
  text-transform: none;
  /*font-style: italic;*/
  font-weight: 600;
  color: #A8D5E2;
  text-align: center;

}

h2 {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 0.7em;
  /*font-style: italic;*/
  letter-spacing: 0.4em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: lightgrey;
  /*line-height: 2em;*/

}
h3 {
  font-family: 'Tinos', 'Times New Roman', serif;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: lightgrey;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}

h4 {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: lightgrey;
  font-weight: 100;
  text-align: center;
  padding: 2px;
}

.byline {
  z-index: 99999;
  vertical-align: center;
  font-family: 'Tinos', 'Helvetica', sans-serif;
  /*font-style: italic;*/
  color: lightgrey;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.container {
  height: 100%;
  width: 100%;
}

.wrapper1 {
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Tinos', 'Times New Roman', sans-serif;
  color: grey;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 35px;

}

.leftwrap1 {
  width: 50%;
  /*margin: 5%;*/
  margin-top: 3%;
  margin-left: 12%;
  height: 50%;
  /*background-color: moccasin;*/
  /*outline: solid 1pt moccasin;*/
  float: left;
}

.rightwrap1 {
  width: 25%;
  margin-right: 12%;
  margin-top: 3%;
  /*margin: 5%;*/
  outline: solid 1pt moccasin;
  height: 50%;
  /*background-color: papayawhip;*/
  float: right;
}

.welcome1 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  /*margin-bottom: 2%;*/
  /*background-color: skyblue;*/
  /*outline: solid 1pt moccasin;*/
  height: 7%;
  float: left;
}
a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: #A8D5E2;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.footer {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  margin-bottom: 1%;
  /*background-color: skyblue;*/
  height: 8%;
  float: left;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  color: lightgrey;
  line-height: 1.8em;
}
/*hr {
  margin-top: 5px;
  margin-bottom: 5px;
  color: lightgrey;
  background-color: lightgrey;
  height: 1px;
}*/

p {
  color: grey;
  font-family: 'Tinos', 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 5%;

}

.footer-rule {
	border-top: 1px dashed #A8D5E2;
}
